# <% require "dotenv"; Dotenv.load(".env") %>

service: demo-ruby-roda
image: gambala/demo-ruby-roda
servers:
  - <%= ENV["MAIN_SERVER_IP"] %>
proxy:
  ssl: false
  host: roda.gambala.pro
  app_port: 3000
  healthcheck:
    interval: 10
    path: /
registry:
  server: ghcr.io
  username: gambala
  password:
    - KAMAL_REGISTRY_PASSWORD
volumes:
  - "demo-ruby-roda-storage:/rails/storage"
builder:
  arch: arm64
env:
  RAILS_MAX_THREADS: 2
  WEB_CONCURRENCY: 1
  LITESTACK_DATA_PATH: /rails/storage
aliases:
  console: app exec --interactive --reuse "bundle exec irb -r ./app"
  shell: app exec --interactive --reuse "sh"
  logs: app logs -f
